<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>論理名</th>
      <th>物理名</th>
      <th>コード</th>
      <th>DBコード</th>
      <th>メッセージ</th>
      <th>警告</th>
    </tr>
  </thead>

  <tbody>
    <% @err.err_properties.each do |it| %>
      <tr>
        <td>
          <%= link_to it.logical_name, edit_project_err_err_property_path(@project, @err, it) %>
        </td>
        <td><%= it.physical_name %></td>
        <td><%= it.code %></td>
        <td><%= it.db_code %></td>
        <td><%= it.message_content %></td>
        <td><%= it.warning_flag ? '有' : '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新規作成', new_project_err_err_property_path(@project, @err), class: 'btn btn-default' %>

