<%= render partial: "temps/combo", locals: {} %>
<%= form_tag copy_project_kbns_path(@project), method: "post" do %>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>選択</th>
      <th>論理名</th>
      <th>物理名</th>
      <th>コード</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @kbns.each do |kbn| %>
      <tr>
        <td><%= check_box_tag "kbn_id[]", kbn.id %> </td>
        <td><%= link_to kbn.logical_name, project_kbn_path(@project, kbn) %></td>
        <td><%= kbn.physical_name %></td>
        <td><%= kbn.code %></td>
        <td><%= link_to '編集', edit_project_kbn_path(@project, kbn) %></td>
        <td><%= link_to '削除', project_kbn_path(@project, kbn), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to '新規作成', new_project_kbn_path(@project), class: 'btn btn-default' %>
<%= render partial: 'copy' %>
<% end %>
